In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, I/O

In [2]:
data = pd.read_csv("../Datasets/Raw/C19_CASES_DEATHS/time_series_covid_19_confirmed_US.csv")
byState = data.groupby("Province_State").sum()
print(byState[:5])

                       UID  code3      FIPS          Lat        Long_  \
Province_State
Alabama         5796241491  57960  241491.0  2203.246784 -5809.578199
Alaska          2772236473  27720  236473.0  1868.733025 -4605.860811
American Samoa          16     16      60.0   -14.271000  -170.132000
Arizona         1428230216  14280  230216.0   505.138555 -1671.948482
Arkansas        6468550635  64680  550635.0  2618.391704 -6932.548370

                1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  ...  4/23/21  \
Province_State                                               ...
Alabama               0        0        0        0        0  ...   525477
Alaska                0        0        0        0        0  ...    67059
American Samoa        0        0        0        0        0  ...        0
Arizona               0        0        0        0        1  ...   857347
Arkansas              0        0        0        0        0  ...   334458

                4/24/21  4/25/21  4/26/21  4/27/21  4/28/21  4/29/21  4/30/21  \
Province_State
Alabama          525898   526131   526348   526707   527083   527513   527922
Alaska            67059    67059    67509    67647    67834    68002    68148
American Samoa        0        0        0        0        0        0        0
Arizona          858076   858737   859487   860169   860772   861653   862497
Arkansas         334642   334706   334769   334998   335289   335529   335725

                5/1/21  5/2/21
Province_State
Alabama         528309  528597
Alaska           68148   68148
American Samoa       0       0
Arizona         863571  863927
Arkansas        335968  336105

[5 rows x 472 columns]

In [14]:
data_cols = list(byState.columns)
print(data_cols[:20])

['UID', 'code3', 'FIPS', 'Lat', 'Long_', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20']

In [8]:
byState.iloc[:,[0]]

                                  UID
Province_State
Alabama                    5796241491
Alaska                     2772236473
American Samoa                     16
Arizona                    1428230216
Arkansas                   6468550635
California                 5040521376
Colorado                   5544685999
Connecticut                 840242082
Delaware                    420200029
Diamond Princess             84088888
District of Columbia        252181023
Florida                    5796978574
Georgia                   13526262703
Grand Princess               84099999
Guam                              316
Hawaii                      588245055
Idaho                      3864875968
Illinois                   8737914438
Indiana                    7897834500
Iowa                       8486060839
Kansas                     8990281065
Kentucky                  10250704442
Louisiana                  5545582140
Maine                      1512538302
Maryland                   2184747127
Massachusetts              1428590248
Michigan                   7310474950
Minnesota                  7478526623
Mississippi                7058472780
Missouri                   9915588598
Montana                    4873853196
Nebraska                   7983061711
Nevada                     1596714838
New Hampshire              1008500166
New Jersey                 1932884509
New Mexico                 2941326065
New York                   5378405916
North Carolina             8571880074
North Dakota               4622186885
Northern Mariana Islands          580
Ohio                       7563609822
Oklahoma                   6639256009
Oregon                     3193647378
Pennsylvania               5798988573
Puerto Rico                5045767870
Rhode Island                588390113
South Carolina             4034242206
South Dakota               5715210577
Tennessee                  8152644119
Texas                     21516426612
Utah                       3110012044
Vermont                    1344870296
Virgin Islands                    850
Virginia                  11346988213
Washington                 3446238627
West Virginia              4791143133
Wisconsin                  6220135229
Wyoming                    2101458641

In [23]:
#get all dates at the end of a month between Jan 2020 and May 2021 in a list
month_dates = ['1/31/20','2/29/20','3/31/20','4/30/20',
'5/31/20','6/30/20','7/31/20','8/31/20',
'9/30/20','10/31/20','11/30/20','12/31/20',
'1/31/21','2/28/21','3/31/21','4/30/21',
'5/2/21']

In [17]:
print(data_cols.index(month_dates[0]))

14

In [24]:
end_month_cols = []

for month in month_dates:
    end_month_cols.append(data_cols.index(month))

print(end_month_cols)

[14, 43, 74, 104, 135, 165, 196, 227, 257, 288, 318, 349, 380, 408, 439, 469, 471]

In [32]:
#Limit data to end dates
byState_Month = byState.iloc[:,end_month_cols]
byState_Month.head()

,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20,12/31/20,1/31/21,2/28/21,3/31/21,4/30/21,5/2/21
Province_State,,,,,,,,,,,,,,,,,
Alabama,0,0,1063,7187,18200,38477,88266,126500,154772,193613,249524,361226,459639,493252,515388,527922,528597
Alaska,0,0,129,360,484,1142,3716,6172,8846,16365,32598,47014,54350,58296,62901,68148,68148
American Samoa,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Arizona,1,1,1289,7655,19936,79228,174010,201835,218507,245946,326817,520207,758404,816782,841811,862497,863927
Arkansas,0,0,523,3281,7253,20777,42511,61224,83697,112190,157359,225138,295268,322415,330398,335725,336105

In [28]:
#Prepare to remove non-states from data
non_states = ["American Samoa", "Guam", "District of Columbia", "Grand Princess", "Puerto Rico", "Virgin Islands", "Northern Mariana Islands", "Diamond Princess"]
data_rows = list(byState_Month.index)
print(data_rows[:5])

['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas']

In [33]:
not_states = []
for ns in non_states:
    not_states.append(data_rows.index(ns))
print(not_states)

[2, 14, 10, 13, 44, 52, 39, 9]

In [42]:
#remove non-states from data, and organize (transpose) it for visualizations
onlyState_month = byState_Month.copy()
onlyState_month = onlyState_month[~onlyState_month.index.isin(non_states)].T.reset_index()
onlyState_month.head()

Province_State,index,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1/31/20,0,0,1,0,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2/29/20,0,0,1,0,12,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
2,3/31/20,1063,129,1289,523,8233,2966,3128,319,6741,...,108,2391,3809,888,293,1249,5432,162,1412,109
3,4/30/20,7187,360,7655,3281,50712,15284,27700,4734,33690,...,2449,10735,28890,4672,866,15847,14327,1125,6854,559
4,5/31/20,18200,484,19936,7253,112919,26378,42201,9498,56163,...,4993,22566,64744,9797,981,44607,21702,2010,18403,903

In [49]:
#Clean the data for exporting
cases_TS = onlyState_month.rename(columns={'index':'Date'})
cases_TS['Date'] = pd.to_datetime(cases_TS['Date'])
cases_TS = cases_TS.set_index("Date")
cases_TS["Month"] = cases_TS.index.to_period("M")
cases_TS_Month = cases_TS.pop("Month")
cases_TS.insert(0,"Month",cases_TS_Month)
cases_TS = cases_TS.reset_index().drop("Date",1)
cases_TS.head()

Province_State,Month,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2020-01,0,0,1,0,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2020-02,0,0,1,0,12,0,0,0,0,...,0,0,0,0,0,0,7,0,0,0
2,2020-03,1063,129,1289,523,8233,2966,3128,319,6741,...,108,2391,3809,888,293,1249,5432,162,1412,109
3,2020-04,7187,360,7655,3281,50712,15284,27700,4734,33690,...,2449,10735,28890,4672,866,15847,14327,1125,6854,559
4,2020-05,18200,484,19936,7253,112919,26378,42201,9498,56163,...,4993,22566,64744,9797,981,44607,21702,2010,18403,903

In [50]:
cases_TS.to_csv("../Datasets/Refined_Datasets/state_cases_TS.csv")

In [51]:
cols = list(cases_TS.columns)
cols = cols[1:]
print(cols[:5])

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']

In [52]:
state_cases_TS = pd.melt(cases_TS,id_vars=['Month'],value_vars=cols)
state_cases_TS = state_cases_TS.rename(columns={'Province_State':'State','value':'Total Cases'})
state_cases_TS.head()

     Month    State  Total Cases
0  2020-01  Alabama            0
1  2020-02  Alabama            0
2  2020-03  Alabama         1063
3  2020-04  Alabama         7187
4  2020-05  Alabama        18200

In [53]:
state_cases_TS.to_csv("../Datasets/Refined_Datasets/state_cases_monthly.csv")